<!-- app/views/dashboard/index.html.erb -->
<h1>Dashboard</h1>

<h2>My Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.title, project_path(project) %></li>
  <% end %>
</ul>

<h2>My Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>
