<head>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
  
<body class="custom-body">
<div class="dashboard-container">
  <div class="text-container"><h1>Welcome! Please log in or sign up to access the projects.</h1></div>
  <div class="button-container">
  <%= link_to "Log In", login_path, class: "button" %>
  <%= link_to "Sign Up", signup_path, class: "button" %>
  </div>
</div>
</body>