<!-- app/views/comments/_show.html.erb -->
<% comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
    <% if current_user == comment.user %>
      <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-secondary' %>
      <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
