.project-list {
  list-style-type: none;
  padding: 0;
}

.project-list li {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project-list li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.project-list li .project-description {
  margin-top: 10px;
  color: #666666;
}

.button {
  padding: 12px 24px;
  background-color: #00181f;
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  margin: 5px;
  width: fit-content;
}

.button:hover {
  background-color: #255e70;;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.field textarea {
  padding: 12px; /* Increased padding for better visual separation */
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded corners for input fields */
  box-sizing: border-box;
  font-size: 16px; /* Larger font size for better readability */
  color: #555555; /* Text color */
  width: 100%; /* Initial width */
}

.field input[type="text"]:focus,
.field textarea:focus {
  border-color: #007bff; 
  outline: none; 
}

.project-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns items with space between them */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;

}

.button-container {
  float: right;
}

