@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns items with space between them */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  height: auto;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-start;
  
  }
  
  .button-container {
    float: right;
  }


.button {
  padding: 12px 24px;
  background-color: #00181f;
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  margin: 5px;
  width: fit-content;
}

.button:hover {
  background-color: #255e70;;
}

body .password-field #toggler {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  }